<div class="">
  <div class="container">
    <div class="family_name">
      <%= "こんにちは、#{@current_family.family_name}さん" %>
    </div>
    <div class="form-heading">新規ユーザー登録</div>
    <div class="form users-form">
      <div>次に、家族に登録するユーザーを登録してください</div>
      <div class="form-body">
        <% @user.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>
        <%= form_tag("/users/create")do %>
          <p>ユーザー名</p>
          <input name="name" value="<%= @user.name %>">
          <p>メールアドレス</p>
          <input type="email" name="email" value="<%= @user.email %>">
          <p>パスワード</p>
          <input type="password" name="password" value="<%= @user.password %>">

          <input type="hidden" name="family_id" value="<%= @current_family.id %>">
          <input type="submit" value="新規登録">
        <% end %>
      </div>
    </div>
  </div>
</div>
