<div class="main user-show">
  <div class="container">
    <div class="user">

      <p>ユーザー名：<%= @user.name %></p>
      <p>メールアドレス：<%= @user.email %></p>
      <p>ユーザーID：<%= @user.id %></p>
      <p>家族ID：<%= @user.family_id %></p>

    </div>

    <%= link_to("戻る", "/blogs/index/#{@current_user.id}") %>

  </div>
</div>
