<div class="main user-show">
  <div class="container">
    <div class="user">

      <h2><%= @user.name %></h2>
      <p><%= @user.email %></p>
      <p><%= @user.id %></p>

    </div>

    <ul class="user-tabs">
      <li class="active"><%= link_to("投稿", "/users/#{@user.id}") %></li>
      <li><%= link_to("いいね！", "/users/#{@user.id}/likes") %></li>
    </ul>

  </div>
</div>
